 [Unit]
 Description=Custom systemd service.

 [Service]
 Type=simple
 ExecStart=/bin/bash /usr/bin/prefect_startup.sh

 [Install]
 WantedBy=multi-user.target